header {
    background-color: rgb(110, 21, 110);
    color:aliceblue;
    text-align: center;
}

main {
    background-color: lightgray;
    padding: 1em;
}

html {
    background-image: url(record.png);
    background-repeat: repeat;
}

body {
    margin: 0;
}